<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>todoTest</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>org.webapp.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>excluded</param-name>
      <param-value>/index.jsp, /, /loginServlet, /joinServlet</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>JoinServlet</display-name>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>org.webapp.servlet.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/JoinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>org.webapp.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.webapp.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTodoServlet</display-name>
    <servlet-name>AddTodoServlet</servlet-name>
    <servlet-class>org.webapp.servlet.AddTodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTodoServlet</servlet-name>
    <url-pattern>/AddTodoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTodoPageServlet</display-name>
    <servlet-name>ListTodoPageServlet</servlet-name>
    <servlet-class>org.webapp.servlet.ListTodoPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTodoPageServlet</servlet-name>
    <url-pattern>/ListTodoPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTodoServlet</display-name>
    <servlet-name>DeleteTodoServlet</servlet-name>
    <servlet-class>org.webapp.servlet.DeleteTodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTodoServlet</servlet-name>
    <url-pattern>/DeleteTodoServlet</url-pattern>
  </servlet-mapping>
</web-app>